.nav-item {
  margin: 0;

  .nav-link {
    text-transform: none;
    font-weight: 700;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: $text-color-dark;

  &:hover {
    color: $primary-color;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 20px;

  @include desktop {
    padding: 10px;
  }
}

#select-language{
  background-color: transparent;
  font-weight: 700;
}